@use 'variables';

@mixin label {
    display: block;
    color: variables.$Dark-grayish-cyan;
    font-size: 0.75em;
    margin-bottom: 8px;
}

@mixin input($icon){
    font-family: variables.$font;
    font-size: 1em;
    text-align: right;
    caret-color: variables.$Strong-cyan;
    border-radius: 4px;
    padding-right: 10px;
    border: none;
    width: 100%;
    height: 48px;
    margin-bottom: 30px;
    &:hover{
        cursor: pointer;
    }
    &:focus{
        outline: none;
        border: 2px solid variables.$Strong-cyan;
    }
    &::-webkit-inner-spin-button{
        -webkit-appearance: none; 
    }
    background: {
        image: url($icon);
        repeat: no-repeat;
        position: 10px center;
        color: variables.$Very-lightgrayish-cyan;
    }
}