@use 'variables';
@use 'initial';
@use 'mixins';

.main-container {
    width: 375px;
    margin: auto;

    &__background-section {
        background-image: url('../images/bg-main-mobile.png');
        background-repeat: no-repeat;
        height: 240px;
        position: relative;
    }

    &__form-section {
        padding: 90px 24px 45px;
    }

    @media (min-width: 1440px) {
        width: 1440px;
        display: flex;

        &__background-section {
            background-image: url('../images/bg-main-desktop.png');
            width: 900px;
            height: 900px;
        }
    }
}

.card {
    @include mixins.card('../images/bg-card-front.png');
    @include mixins.card-position(126px, 18px, 187px, 167px);
    z-index: 1;
    letter-spacing: 2px;

    &__logo {
        width: 55px;
        margin-bottom: 30px;
    }

    &__number {
        margin-bottom: 15px;
    }

    &__details {
        display: flex;
        font-size: 0.6em;
        justify-content: space-between;
        text-transform: uppercase
    }

    @media (min-width: 1440px) {
        &__logo {
            width: 86px;
            margin-bottom: 55px;
        }

        &__number {
            font-size: 1.6em;
            margin-bottom: 25px;
        }

        &__details {
            font-size: 0.8em;
        }
    }
}

.card-back {
    @include mixins.card('../images/bg-card-back.png');
    @include mixins.card-position(30px, 75px, 468px, 257px);
    letter-spacing: 2px;

    &__cvc {
        font-size: 0.7em;
        margin-top: 50px;
        text-align: right;
        padding-right: 10px;

        @media (min-width: 1440px) {
            font-size: 1em;
            margin-top: 80px;
            padding-right: 30px;
        }
    }
}

.form {
    // display: none;

    &__label {
        text-transform: uppercase;
        font-size: 0.65em;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 8px;
        color: variables.$Very-dark-violet;
        font-weight: bold;
    }

    &__input {
        width: 100%;
        height: 40px;
        margin-bottom: 18px;
        border-radius: 4px;
        font-family: variables.$font;
        border: 1px solid variables.$Light-grayish-violet;
        padding-left: 10px;
        font-size: 1em;
        outline: none;

        &::placeholder {
            color: variables.$Light-grayish-violet;
        }
    }

    &__date-cvc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 16px;
    }

    &__date {
        display: flex;
        gap: 10px;
    }

    &__submit {
        background-color: variables.$Very-dark-violet;
        color: variables.$Light-grayish-violet;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        font-size: 1em;
        letter-spacing: 1px;
        font-family: variables.$font;

        &:hover {
            cursor: pointer;
        }
    }

    @media (min-width:1440px) {
        margin-top: 180px;
        width: 385px;

        &__input {
            margin-bottom: 40px;
        }
    }
}

.error {
    color: variables.$Red;
    margin: -10px 0 18px;
    font-size: 0.6em;
}

.form__errors-container {
    display: flex;
    gap: 5px;
}

.form__errors-container div {
    width: 100px;
    text-align: center;
}

.thanks-section {
    display: none;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;

    &__img {
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        letter-spacing: 4px;
        color: variables.$Very-dark-violet;
        margin-bottom: 24px;
    }

    &__text {
        text-align: center;
        color: variables.$Dark-grayish-violet;
        font-size: 1.1em;
        margin-bottom: 24px;
    }

    &__button {
        @extend .form__submit;
    }

    @media (min-width:1440px) {
        margin-top: 180px;
    }

}

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}